{% extends "layout.html" %}
{% block title %}Login{% end %}
{% block content%}
<div class="ui container">
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <form class="ui large form" action="/login" method="post">
                {% module xsrf_form_html() %}
                <div class="field">
                    <div class="ui left input">
                        <input type="password" name="password" placeholder="Password">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% end %}